{{ define "main" }}

  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    </div>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.molecule }}<canvas width="200" height="200" data-smiles="{{ .Params.molecule }}"></canvas>{{ end }}
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    <p>{{ if .Params.fileInfo.cdnUrl }}<a href={{.Params.fileInfo.cdnUrl}}>uploaded file(s)</a>{{ end }}</p>
  </div>
{{ end }}
